extends ../index.jade

block title
  title Kevin Cameron - code

block content
  h2 code
  h3 Less lies, facts coming soon!

  ul
    each project in code.projects
      li
        h3
          a(href="#{project.url}") #{project.title}
        p !{project.desc}
        ul
          each tech in project.tech
            li
              i(class="fa fa-#{tech}").
              span #{tech}
