doctype html
html(lang="en")
  head
    block title
      title Kevin Cameron

    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(
      href="https://fonts.googleapis.com/css?family=Rokkitt:700|Raleway:300|Roboto+Slab:400,700|Asap:700"
      rel="stylesheet"
    )
    link(
      href="/css/kevinkace.css",
      rel="stylesheet"
    )
  body

    header#header
      div.content
        h1.logo(data-rollText="Kace.com")
          a(href="/") Kevin
            em Kace
              i .com
            span Cameron

    main
      div.intro.slide.align.align-v
        block intro
      div.sections
        block content

    footer
      div.content
        ul.kace-g.icon-list.guttered
          each link, idx in footer.links
            li(class="kace-u-1-#{footer.links.length}")
              a(class="btn btn-default", href="#{link.url}")
                if typeof link.icon === "string"
                  i(class="fa fa-#{link.icon}")
                else if link.icon && link.icon.length === 2
                  span.fa-stack
                    each icon, idx in link.icon
                      - var inverse = idx === 0 ? "" : "fa-inverse"
                      i(class="fa fa-#{icon} fa-stack-#{2 - idx}x #{inverse}")
                else
                  i(class="fa fa-#{link.title}")
                span.noTxt= link.title

    script(
      src="/js/index.js"
      defer
    )
