doctype html
html(lang="en")
  head
    block title
      title Kevin Cameron

    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(
      href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Rokkitt|Noto+Sans|Lato:400,900italic,900,700italic,400italic,700,300italic,300|Raleway:400,900,800,700,600,500,300,200,100|Ubuntu:400,700,700italic,500italic,500,400italic,300italic,300|Titillium+Web:400,600,600italic,700,700italic,400italic,300italic,300",
      rel="stylesheet"
    )
    link(
      href="/css/kevinkace.css",
      rel="stylesheet"
    )
  body

    header
      div.content
        h1.logo(data-rollText="Kace.com")
          a(href="/") Kevin
            em Kace
              i .com
            span Cameron

    main
      div.content
        block intro
        block content

    footer
      div.content
        ul.kace-g.icon-list.guttered
          each link, idx in footer.links
            li(class="kace-u-1-#{footer.links.length}")
              a(class="btn btn-default", href="#{link.url}")
                if typeof link.icon === "string"
                  i(class="fa fa-#{link.icon}")
                else if link.icon && link.icon.length === 2
                  span.fa-stack
                    each icon, idx in link.icon
                      - var inverse = idx === 0 ? "" : "fa-inverse"
                      i(class="fa fa-#{icon} fa-stack-#{2 - idx}x #{inverse}")
                else
                  i(class="fa fa-#{link.title}")
                span.noTxt= link.title
